<form (ngSubmit)="onSubmit()" [formGroup]="customerForm" >

  <div class="form-group" [ngClass]="{'has-error': (customerForm.get('firstName').touched || customerForm.get('firstName').dirty ) && customerForm.get('firstName').errors}"  >
    <label class="control-label" for="firstNameId">First Name</label>
    <input 
    id="firstNameId"
    type="text" 
    class="form-control"  
    formControlName="firstName">


    <span class="help-block" *ngIf=" (customerForm.get('firstName').touched || customerForm.get('firstName').dirty ) && customerForm.get('firstName').errors " >
      <span *ngIf="customerForm.get('firstName').errors.required">
          required
      </span>
      <!-- required -->
      
      <!-- tetst -->

    </span>
  
  </div>


  <div class="form-group"
  [ngClass]="{'has-error': (getLastName.touched || getLastName.dirty ) && getLastName.errors}"
 >
   <label class="control-label" for="lastNameId">last Name</label>
   <input 
     id="lastNameId"
     type="text" 
     class="form-control"  
     formControlName="lastName">

     <span class="help-block" *ngIf="(getLastName.touched || getLastName.dirty)" >

       <span *ngIf="getLastName.errors.required">
           required
       </span>

       <span *ngIf="getLastName.hasError('minlength') ">
          Last Name should be minimum 3
      </span>

     </span>

 </div>

  <button type="submit"
    [disabled]="!customerForm.valid" 
    class="btn btn-default">Submit</button>
</form>

<hr>
  <u>First Name Property</u>
  <br>Valid : {{customerForm.get('firstName').valid }}
  <br>Dirty : {{customerForm.get('firstName').dirty }}
  <br>Touched : {{customerForm.get('firstName').touched }}
<hr>
<u>Form Property</u>
<br>Dirty : {{customerForm.dirty}}
<br>Touched : {{customerForm.touched}}
<br>Valid : {{customerForm.valid}}
<br>Value : {{customerForm.value | json }}