<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Example Component</div>


  <div class="list-group">
    <a [routerLink]="['/pages/modal']" class="list-group-item">
      Modal
    </a>
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
  </div>
  <!-- </div> -->



</div>

